name: CI

on:
  schedule:
  - cron: 1 * * * *

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Run a one-line script
      run: echo Hello, world!
    - name: Run a multi-line script
      run: python3 get_members.py 'hello world'
